VITE_SUPABASE_URL=https://wfbxiflebhjflmebugih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmYnhpZmxlYmhqZmxtZWJ1Z2loIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2Njc2MDksImV4cCI6MjA4ODI0MzYwOX0.2WgFNB5J1wWZ_Wi3lf1TRvNid2WMNYO3Fa4zCagMlO0
